﻿@model List<SC.BL.Domain.Competitie>

@{
    ViewBag.Title = "Competitions";
    Layout = "_Layout";
}

<h2>Competitions</h2>


<form asp-controller="Club" asp-action="Competitions" method="post">
    <br><input name="name" type="text" style="width: 25ch" placeholder="Name">
    <br><input name="oprichtingsjaar" type="number" style="width: 25ch" placeholder="Year">
    
    <input type="submit" value="Search"><br>
</form>


<br>
<table style="width: 75%">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Since</th>
    </tr>

    @foreach (var competitie in Model)
    {
        <tr>
            <td>@competitie.Naam</td>
            <td>@competitie.Locatie</td>
            <td>@competitie.Oprichtingsjaar</td>
            <td>@Html.ActionLink("Add/remove club", "AddRemoveClubCompetition", "Club", new {competitieId = competitie.Id})<td/>
        </tr>
    }
</table>