﻿@model SC.BL.Domain.Competitie

@{
    ViewBag.Title = "Competition details";
    Layout = "_Layout";
}

<h2>Competition details</h2>

<table style="width: 50%">
    <tr>
        <td>Name</td>
        <th>@Model.Naam</th>
    </tr>
    <tr>
        <td>Location</td>
        <td>@Model.Locatie</td>
    </tr>
    <tr>
        <td>Since</td>
        <td>@Model.Oprichtingsjaar</td>
    </tr>
</table>