﻿@model List<SC.BL.Domain.Club>

@{
    ViewBag.Title = "All clubs";
    Layout = "_Layout";
}

<h2>All clubs</h2>

<table style="width: 100%">
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Stadium capacity</th>
        <th>Founding date</th>
        <th>Trainer</th>
    </tr>


    @foreach (var club in Model)
    {
        <tr>
            <td>@club.Naam</td>
            <td>@club.Land</td>
            <td>@club.CapaciteitStadion</td>
            <td>@club.Oprichtingsdatum.ToString("dd MMMM yyyy")</td>
            <td>@club.Trainer</td>
            <td>@Html.ActionLink("Details", "ClubDetail", "Club", new {id = club.Id})<td/>
        </tr>
    }
</table>