﻿@model SC.BL.Domain.Speler

@{
    ViewBag.Title = "Player details";
    Layout = "_Layout";
}

<h2>Player details</h2>

<table style="width: 50%">
    <tr>
        <td>Name</td>
        <th>@Model.Naam</th>
    </tr>
    <tr>
        <td>Number</td>
        <td>@Model.Rugnummer</td>
    </tr>
    <tr>
        <td>Length</td>
        <td>@Model.Grootte</td>
    </tr>
    <tr>
        <td>Birthday</td>
        <td>@Model.Geboortedatum.ToString("dd MMMM yyyy")</td>
    </tr>
    <tr>
        <td>Position</td>
        <td>@Model.Positie</td>
    </tr>
</table>